<table class="table projecttable">
  <tr>
    <td><h3>Details for {{data.project.name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{data.project.name}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{data.project.description}}</td>
  </tr>
  <tr>
    <td>Budget</td>
    <td>{{data.project.budget}}</td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td>{{data.project.start_date}}</td>
  </tr>
</table>
<table>
  <thead>
    Project Subtasks
  </thead>
  <tr>
    <td>
      Name
    </td>
    <td>
      Description
    </td>
    <td>
      Due Date
    </td>
    <td>

    </td>
  </tr>
  <tr ng-repeat="task in data.tasks">
    <td>
      <a ng-click="showTask(task.id)" href="">{{task.name}}</a>
    </td>
    <td>
      {{task.description}}
    </td>
    <td>
      {{task.due_date}}
    </td>
  </tr>
</table>
<div>
  <md-button class="md-raised md-primary" ui-sref="editProject({id:data.project.id})">Edit</md-button>
</div>
